body {
  font-family: verdana;
  font-size: 20px;
  background-color: #DFDFDE;
}

input {
  padding: 5px;
  border-color: black;
  border-width: 3px;
  margin-left: 20px;
}

li {
  color: black;
  font-size: 20px;
}

h4 {
  color: white;
  padding-left: 20px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#urgentImportant {
  background-color: #D7C6CF;
  width: 400px;
  min-height: 400px;
  margin-left: 5%;
  float:left;
  box-sizing: border-box;
}

#nonUrgentImportant {
  background-color: #A2798F;
  width: 400px;
  min-height: 400px;
  margin-left: 5%;
  margin-right: 5%;
  float: right;
}

#urgentNotImportant {
  background-color: #A2798F;
  width: 400px;
  min-height: 400px;
  margin-left: 5%;
  margin-top: 2%;
  float:left;
}

#notUrgentNotImportant {
  background-color: #D7C6CF;
  width: 400px;
  min-height: 400px;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  float: right;
}

#myList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.done {
  text-decoration: line-through;
  line-height: 10px;
}

.notDone {
  text-decoration: none;
  line-height: 10px;
}

.delButton{
  padding: 5px;
  margin-left: 20px;
}
