body {
  font-family: verdana;
  font-size: 15px;
  background-color: #49598c;
}

input {
  padding: 5px;
  border-width: 3px;
  margin-left: 30px;
}

li {
  color: #8aa4ff;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.done {
  text-decoration: line-through;
}

.notDone {
  text-decoration: none;
}
