body {
  background-color: LightCoral;
  font-family: verdana;
  font-size: 20px;
}

form {
  padding-top: 10px;
  padding-left: 10px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 3px;
  margin-left: 10px;
}

li {
  padding-top: 5px;
  font: Sans-serif;
  color: white;
  margin-left: 10px;
  font-size: 14px;
}

.strikeItem {
  text-decoration: line-through;
}

.normalText {
  text-decoration: none;
}
